<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Steakz Kitchen</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'/>
    <link href="https://unpkg.com/primevue/resources/themes/saga-blue/theme.css " rel="stylesheet">
    <link rel='stylesheet' href='./dashboard.css'/>

</head>
<body>
  <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <div class="nav navbar-nav navbar-left"><img src="http://raw.githubusercontent.com/josecmarcucci005/ecommerce_pictures/master/steakz_logo.png"></div>
        </div>
      </div>
</nav>

<div class="container-fluid">
  <main id="app">
    <div class="row">
      <div class="col-sm-3 sidebar">
            <ul class="nav nav-pills nav-stacked">
              <li v-bind:class="menuEle[0]"><a v-on:click="changeClass(0)"><router-link to="/orders">Orders</router-link></a></li>
            </ul>
      </div>
      <div class="col-sm-9 main">
        <router-view></router-view>
    </div>
    </div>
  </main>
</div>

<template id="order-list">
  <div>
  <vue-simple-spinner v-if='loadingList'></vue-simple-spinner>
  <div v-else class="panel panel-default">
    <div class="panel-heading">Orders</div>
    <div v-if='activeOrders.length == 0' class="panel-body">
        No orders
    </div>
    <table v-else class="table">
      <thead>
      <tr>
        <th>Table Number</th>
        <th class="col-sm-2">Date</th>
        <th>Status</th>
        <th>Items</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="order in activeOrders">
        <td>{{ order.tableNumber }}</td>
        <td>{{ order.date }}</td>
        <td>{{ order.status }}</td>
        <td>
        <a class="btn btn-default btn-xs" @click="clearPolling();"><router-link :to="{name: 'order-items', params: {order_id: order.id}}">View Order Items</router-link></a>
        </td>
        <td>
          <button type="button" v-if="order.status == 'IN_PROGRESS'" class="btn btn-success" @click="changeOrderStatus(order, 'READY')">Ready</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  </div>
</template>


<template id="order-items">
    <vue-simple-spinner v-if='loadingItemsList'></vue-simple-spinner>
    <div v-else>
      <h1>Order #{{order.id}} Items</h1>
      <br/> 
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
      <a><router-link to="/orders">Back</router-link></a>
      <br/><br/>
      <div class="panel panel-default">
        <table class="table">
          <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th class="col-sm-2">Quantity</th>
            <th>Item Price</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="item in order.items">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>
                {{item.quantity}}
            </td>
            <td><span class="glyphicon glyphicon-euro" aria-hidden="true"></span> {{ item.price}}</td>
          </tr>
          </tbody>
          <tfoot>
            <th></th>
            <th></th>
            <th><b>Total Price</b></th>
            <th><span class="glyphicon glyphicon-euro" aria-hidden="true"></span> {{totalPrice}}</th>
          </tfoot>
        </table>
      </div>
    </div>
  </template>

<!-- partial -->
<!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
<script src='https://unpkg.com/vue@2.6.12/dist/vue.js'></script>
<script src='https://unpkg.com/vue-router@3.4.9/dist/vue-router.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://unpkg.com/vuetify@0.16.9/dist/vuetify.min.js'></script>
<script src='https://unpkg.com/vue-simple-spinner@1.2.10/dist/vue-simple-spinner.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js'></script>
<script src='https://unpkg.com/vue-chartjs@3.4.0/dist/vue-chartjs.js'></script>
<!--script src='https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js'></script-->
<script  src="./kitchen.js"></script>

</body>
</html>
